



.calendar__div {
    display: grid;
    /* grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: repeat(7, 1fr);  */


}

.calendar {
    width: 70rem;
    max-height: 80%;
    border:1px solid rgb(255, 255, 255);
    box-shadow: 0px 100px 60px rgb(163, 163, 163);
    border-radius: 0.5rem;
    margin-top: 2%;
    margin-bottom: 30rem;
    background-color: white;
}

.calendar--container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.calendar__header {
    display: flex;
    padding-top: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
   
}


.calendar--month {
    font-size: 2rem;
    font-weight: 600;
    margin-right: 1rem;
    margin-left: 2%;
    color: rgb(66, 66, 66);
}

.calendar--year {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
}


.day-names__container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    /* padding-left: 2rem; */
    border-bottom: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 2px 10px rgb(179, 179, 179, 00.2rem);
    background-color: rgb(240, 240, 240);
    /* height: 5rem; */
    width: 100%;
    /* margin-left: 1rem; */
    /* padding-bottom: 1.5rem; */
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    /* padding-right: 1rem; */
    /* gap: 1rem; */
}

.day-name {
    background-color: rgb(159, 159, 159);
    border-radius: 0.9rem;
    padding: rem;
    margin: 0.1rem 0.9rem 1rem 0.9rem;
    /* width: 10rem; */
    width: 80%;
    border: 0px solid;
    text-align: center;
    font-weight: 700;
    color: white;
}

.calendar__div {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    padding-left: 2rem;
    padding-right: 1rem;
    /* background-color: rgba(34, 23, 23, 0.6); */
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    /* gap: 1rem; */
   
}

.calendar--month__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;
}

.calendar--arrow {
    cursor: pointer;
    font-size: 32px;
}

.calendar--arrow__container {
    margin-left: 48%;
    display: flex;
    width: 10%;
    margin-right: 4%;
}


.day-item {
    /* border: 2px solid var(--indigo-950); */
    border: 0.3px solid rgb(230, 229, 229);
    border-radius: 0.4rem;
    /* width: 10rem; */
    width: 90%;
    /* height: 8rem; */
    height: 6rem;
    margin: 0.5rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    box-shadow: 0.5px 0.5px 10px rgb(216, 216, 216);
    background-color: rgb(230, 230, 230);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.day-item:hover {
    transform: scale(1.4); /* Amplía la tarjeta en un 10% al hacer hover */
  }

@keyframes changeMonthAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.month {
    animation: changeMonthAnimation 0.5s ease;
}

.past-event {
    background-color: var(--indigo-600);
}

.day__button {
    position: relative;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid black;
    width: 2rem;
    top: 1px;
    right: -40px;
    /* margin-left: 60%; */
}