



.calendar__div {
    display: grid;
    /* grid-template-rows: repeat(6, 1fr); 
    grid-template-columns: repeat(7, 1fr);  */
    
   
  }
  
.calendar {
    max-width: 70rem;
    max-height: 80%;
    border:1px solid rgb(255, 255, 255);
    /* box-shadow: 3px 3px 30px rgb(255, 255, 255); */
    border-radius: 0.5rem;
    margin: 2rem 1rem 1rem 10rem;
    background-color: white;
}

.calendar__header {
    display: flex;
    justify-content: center;
    background-color: rgb(223, 239, 254);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem;
}



.day-names__container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    padding-left: 2rem;
    border-bottom: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 2px 10px rgb(179, 179, 179,00.2rem);
    background-color: rgb(223, 239, 254);
    /* height: 5rem; */
    width: 69.89rem;
    /* margin-left: 1rem; */
    /* padding-bottom: 1.5rem; */
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    padding-right: 1rem;
    /* gap: 1rem; */
}

.day-name {
    background-color: var(--indigo-400);
    border-radius: 0.3rem;
    padding: 0.2rem;
    margin: 0.5rem 0.2rem 1rem 0.2rem;
    /* width: 10rem; */
    width: 8rem;
    border: 0px solid;
    text-align: center;
    font-weight: 700;
    color: white;
   
}

.calendar__div {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(7, 1fr);
    padding-left: 2rem;
    padding-right: 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    /* gap: 1rem; */

}

.day-item {
    /* border: 2px solid var(--indigo-950); */
    border: 0.3px solid rgb(230, 229, 229);
    border-radius: 0.4rem;
    /* width: 10rem; */
    width: 8rem;
    /* height: 8rem; */
    height: 6rem;
    margin: 0.3rem;
    margin-bottom: 1rem;
    overflow-y: scroll;
    box-shadow: 0.5px 0.5px 10px rgb(243, 243, 243);
    background-color: rgb(240, 248, 255);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.day-item:hover {
    transform: scale(1.2); /* Amplía la tarjeta en un 10% al hacer hover */
  }

@keyframes changeMonthAnimation {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .month {
    animation: changeMonthAnimation 0.5s ease;
  }
.past-event{
    background-color: var(--indigo-600);
}
.day__button {
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid black;
    width: 2rem;
    margin-left: 60%;
}