:root {
--indigo-50: #f1f5fd;
--indigo-100: #dfeafa;
--indigo-200: #c7daf6;
--indigo-300: #a0c2f0;
--indigo-400: #73a1e7;
--indigo-500: #5381de;
--indigo-600: #355ed0;
--indigo-700: #3552c0;
--indigo-800: #30459d;
--indigo-900: #2c3d7c;
--indigo-950: #1f274c;
}