:root {
--indigo-50: #f1f5fd;
--indigo-100: #dfeafa;
--indigo-200: #c7daf6;
--indigo-300: #a0c2f0;
--indigo-400: #73a1e7;
--indigo-500: #5381de;
--indigo-600: #355ed0;
--indigo-700: #3552c0;
--indigo-800: #30459d;
--indigo-900: #2c3d7c;
--indigo-950: #1f274c;
}
:root{
    --grey-1:white;
    --grey-1-2:rgb(159, 159, 159);
    --grey-2:rgb(230, 230, 230);
    --grey-3:rgb(240, 240, 240);
    --grey-4:rgb(159, 159, 159);
    --grey-5:rgba(255, 255, 255, 0.183);
    --grey-6:rgba(255, 255, 255, 0.05);
    --grey-7:rgba(61, 108, 219, 0.802);
}