/* Hide modal class */
.hide-modal {
    display: none;
}

/* Hide event class */
.hide-event {
    display: none;
}

/* Styles for event information */
.event--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgb(240, 240, 240);
    border: 0.3px solid rgb(230, 229, 229);
    box-shadow: 0px 100px 60px rgb(163, 163, 163);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 30rem;
    z-index: 3;
}

/* Styles for event information div */
.event-info__div {
    height: 79%;
    width: 90%;
    padding: 2rem;
    background-color: rgb(240, 240, 240);
   
    z-index: 6;
}

/* Styles for event information span */
.event-info__div .event-info__span {
    color: #3d3d3d;
    font-size: large;
    z-index: 6;
}

/* Styles for overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100rem;
    backdrop-filter: blur(4px);
    z-index: 3;
}

/* Styles for modal heading */
.modal__h1 {
    margin-top: 2rem;
}

/* Styles for modal div */
.modal__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    overflow-y: scroll;
   
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 40rem;
  
    z-index: 5;
    
}
.modal__label{
   display: none;
}
.checkbox{
    margin-right: 20rem;
}

/* Styles for modal form */
.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    
}

/* Styles for modal button */
.modal__button {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 4px 12px;
    
    margin-bottom: 7px;
    background: var(--indigo-50);
}

/* Styles for modal button on hover */
.modal__button:hover {
    background: var(--indigo-500);
}

/* Styles for modal input */
.modal__input {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin: 0.3rem;
}

/* Styles for events */
.event {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 0.1rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--indigo-100);
}

/* Styles for event tooltip */
.event--tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    margin-top: 2%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #ccc;
    width: 6rem;
    border-radius: 5px;
    opacity: 0;
    transition: visibility 0s 1s;
    font-size: 12px;
}

/* Hover effect for events */
.event:hover {
    transform: translateY(-0px);
}

/* Hover effect for event tooltip */
.event:hover .event--tooltip {
    visibility: visible;
    opacity: 1;
}


