.hide-modal {
    display: none;
}

.hide-event {
    display: none;
}

.event--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--indigo-400);
    padding: 1rem;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24rem;
    height: 30rem;
    z-index: 3;
}

.event-info__div {
    /* border: 1px solid black; */
    /* border-radius: 0.5rem; */
    height: 79%;
    width: 90%;
    padding: 2rem;
    background-color: var(--indigo-500);
    z-index: 6;

}

/* .event-info span {} */

.event-info__div .event-info__span {
    color: white;
    height: 100%;
    width: 100%;
    z-index: 6;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.6); */
    backdrop-filter: blur(3px);
    z-index: 3;
}


.modal__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    overflow-y: scroll;

    background-color: var(--indigo-200);
    padding: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 40rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    z-index: 5;
    border: 1px solid black
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.modal__button {
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 4px 12px;
    letter-spacing: 1px;
}

.modal__button:hover {
    background: var(--indigo-500);
}

.modal__input {
    width: 100%;
    /* cursor: pointer; */
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid black
}

.event {
    cursor: pointer;
    border: 1px solid black;
    padding: 0.25rem;
    margin: 0.2rem;
    border-radius: 0.5rem;
    background-color: var(--indigo-100);
}

.event--tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0;
    transition: visibility 0s 1s;
}

.event:hover {
    transform: translateY(-3px);
}

.event:hover .event--tooltip {
    visibility: visible;
    opacity: 1;
}