@import url("modal.css");
@import url("colors.css");
@import url("header.css");
@import url("calendar.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;

}

.preserve-spaces {
  white-space: pre;
}

body {
  background: var(--indigo-200);
  background-image: url("../assets/biel-morro-_l8ZdgJ9m7w-unsplash.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}