@import url("modal.css");
@import url("colors.css");
@import url("header.css");
@import url("calendar.css");
@import url("footer.css");
@import url("candle.css");

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Mulish", sans-serif;

}

body {
    background-image: url(../assets/wallpaperflare.com_wallpaper.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

footer p {
    color: white
}

/* body {
    display: flex;
    background: #ef62da;
    min-height: 100vh;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
} */